#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 1.0.2.{build}

# branches to build
branches:
  # whitelist
  only:
    - master

# Start builds on tags only (GitHub and BitBucket)
skip_non_tags: true

# Do not build feature branch with open Pull Requests
skip_branch_with_pr: true

# Maximum number of concurrent jobs for the project
max_jobs: 1

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Build worker image (VM template)
image: Visual Studio 2017

# set clone depth
clone_depth: 5                      # clone entire repository history if not defined

# build cache to preserve files/folders between builds
cache:
  - packages -> **\packages.config  # preserve "packages" directory in the root of build folder but will reset it if packages.config is modified
  - '%LocalAppData%\NuGet\Cache'    # NuGet < v3
  - '%LocalAppData%\NuGet\v3-cache' # NuGet v3

# Automatically register private account and/or project AppVeyor NuGet feeds.
nuget:
  account_feed: true
  project_feed: true
  disable_publish_on_pr: true     # disable publishing of .nupkg artifacts to
                                  # account/project feeds for pull request builds

#---------------------------------#
#       build configuration       #
#---------------------------------#

# build platform, i.e. x86, x64, Any CPU. This setting is optional.
platform: Any CPU

# build Configuration, i.e. Debug, Release, etc.
configuration: Release

build:
  parallel: true                  # enable MSBuild parallel builds
#  publish_nuget: true             # package projects with .nuspec files and push to artifacts
  verbosity: normal               # MSBuild verbosity level

before_build:
  #- ps: C:\projects\testrepo\setVersion.ps1
  - nuget restore

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:

  # pushing all *.nupkg files in build directory recursively
  - path: '**\*.nupkg'

#---------------------------------#
#     deployment configuration    #
#---------------------------------#

deploy:

    # Deploying to NuGet feed
  - provider: NuGet
    api_key:
      secure: /5jbFbbHaNXu+RNW5N98rSDc17E56fSgLcmCtnAYC0rVGpxbaqnNnNxVmAr6JEq4
    skip_symbols: false

    # Deploy to GitHub Releases
  - provider: GitHub
    release: v1.0.2 #
    description: init #
    artifact: /.*\.nupkg/           # upload all NuGet packages to release assets
    draft: false
    auth_token:
      secure: XXtDUCV7OIPzOUF7SPHY60J9slDW2SjXZ+Lxj7ctfEvSJKno6eeqpU7b2LJ7Esoh
    prerelease: false
    on:
      branch: master                # release from master branch only


#---------------------------------#
#         notifications           #
#---------------------------------#

notifications:

  # Slack
  - provider: Slack
    incoming_webhook: https://hooks.slack.com/services/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
